<section class="about" id="about-us">
  <div class="container about-box">
    <div class="about-description">
      <h2 class="about-title">About Us</h2>
      <p class="about-text">
        The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
        vyshyvanka comes to life with new zest and style. Our store offers a
        wide selection of high-quality and authentic embroidery, which combines
        the elegance of traditional needlework and modern design.
      </p>
      <p class="about-text">
        In "Vyshyvanka Vibes" you will find various models of embroidery, from
        classic to modern, corresponding to the latest fashion trends. Our
        embroidery is made using natural fabrics and is embroidered by highly
        qualified craftsmen who convey the beauty of Ukrainian culture in every
        detail.We believe that vyshyvanka is not just clothing, but a symbol of
        national pride, the heritage of our ancestors and a way of expressing
        one's individuality. Each embroidery from "Vyshyvanka Vibes" has its own
        unique history and symbolism, which gives it a special meaning.
      </p>
    </div>

    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/desktop-1-1x-1280/about_us_1-desk.jpg    1x,
          ./images/desktop-1-2x-1280/about_us_1-desk-x2.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/tablet-1x-704/about_us_1-tab-1.jpg    1x,
          ./images/tablet-2x-704/about_us_1-tab-2-2x.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/mobile-1x-335/about_us_1-mob-1.jpg    1x,
          ./images/mobile-2x-335/about_us_1-mob-2-2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        src="./images/mobile-1x-335/about_us_1-mob-1.jpg"
        alt="About Us image"
      />
    </picture>
  </div>
</section>
