<footer class="foot">
  <div class="container">
    <ul class="nav-list-foot-mob">
      <div class="foot-list-box">
        <li><a href="#about-us" class="nav-link-foot">About us</a></li>
        <li>
          <a href="#our-collection" class="nav-link-foot">Our collection</a>
        </li>
      </div>
      <div class="foot-list-box">
        <li><a href="#your-order" class="nav-link-foot">customer order</a></li>
        <li><a href="#testimonials" class="nav-link-foot">testimonials</a></li>
      </div>
    </ul>
    <ul class="nav-list-foot">
      <li><a href="#about-us" class="nav-link-foot">About us</a></li>
      <li>
        <a href="#our-collection" class="nav-link-foot">Our collection</a>
      </li>
      <li><a href="#your-order" class="nav-link-foot">customer order</a></li>
      <li><a href="#testimonials" class="nav-link-foot">testimonials</a></li>
    </ul>
    <h2 class="foot-title">
      A touch of
      <span class="foot-title-accent-color">Ukrainian</span> culture in every
      embroidery
    </h2>
  </div>
</footer>
