<section class="hero">
  <div class="container">
    <div class="hero-container">
      <div class="hero-main-text-wrapper">
      <h1 class="hero-title">Reviving the traditional <span class="hero-title-accent-color">Ukrainian</span> artistry in every stitch.</h1>
      <a href="#your-order" class="order-btn">Order
        <svg width="24" height="16" class="order-btn-icon">
          <use href="./images/svg-images.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>
    <picture class="hero-main-img-wrapper">
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/desktop-1-1x-1280/hero_1-desk.jpg    1x,
          ./images/desktop-1-2x-1280/hero_1-desk-x2.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/tablet-1x-704/hero_1-tab-1.jpg    1x,
          ./images/tablet-2x-704/hero_1-tab-2-2x.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/mobile-1x-335/hero_1-mob-1.jpg    1x,
          ./images/mobile-2x-335/hero_1-mob-2-2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        class="hero-main-img"
        src="./images/mobile-1x-335/hero_1-mob-1.jpg"
        alt="Vyshyvanka vibes image"
      />
    </picture>
    <div class="handmate-mark">
      <svg width="49" height="49" class="handmate-mark-icon">
          <use href="./images/svg-images.svg#icon-star"></use>
        </svg>
      <p class="handmate-mark-text">all embroidery is made by hand</p>
    </div>
    <picture class="ukraine-map-ellipse">
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet-1x-704/hero_2-tab-1.jpg  1x,
            ./images/tablet-2x-704/hero_2-tab-2-2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="ukraine-map-ellipse-img"
          src="./images/tablet-1x-704/hero_2-tab-1.jpg"
          alt="Tiny map of Ukraine"
        />
    </picture>
    </div>
  </div>
</section>
