<section class="collect">
  <div class="container collect-box">
    <h2 class="collect-title">Our collection</h2>
    <ul class="collect-list">
      <li class="collect-item">
        <div class="collect-img-box">
          <picture>
            <source
              srcset="
                ./images/desktop-2-1x-1440/collect_1-desk-2-x1.jpg 1x,
                ./images/desktop-2-2x-1440/collect_1-desk-2-x2.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/desktop-1-1x-1280/collect_1-desk.jpg    1x,
                ./images/desktop-1-2x-1280/collect_1-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/tablet-1x-704/collect_1-tab-1.jpg    1x,
                ./images/tablet-2x-704/collect_1-tab-2-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile-1x-335/collect_1-mob-1.jpg    1x,
                ./images/mobile-2x-335/collect_1-mob-2-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/mobile-1x-335/collect_1-mob-1.jpg"
              alt="AUGUST Poltava women's blouseRING"
            />
          </picture>
        </div>
        <div class="collect-title-box">
          <h3 class="collect-description">AUGUST Poltava women's blouseRING</h3>
          <p class="collect-price">3300 UAH</p>
        </div>
      </li>
      <li class="collect-item">
        <div class="collect-img-box">
          <picture>
            <source
              srcset="
                ./images/desktop-2-1x-1440/collect_2-desk-2-x1.jpg 1x,
                ./images/desktop-2-2x-1440/collect_2-desk-2-x2.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/desktop-1-1x-1280/collect_2-desk.jpg    1x,
                ./images/desktop-1-2x-1280/collect_2-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/tablet-1x-704/collect_2-tab-1.jpg    1x,
                ./images/tablet-2x-704/collect_2-tab-2-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile-1x-335/collect_2-mob-1.jpg    1x,
                ./images/mobile-2x-335/collect_2-mob-2-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/mobile-1x-335/collect_2-mob-1.jpg "
              alt="Women's blouse Gorgany"
            />
          </picture>
        </div>
        <div class="collect-title-box">
          <h3 class="collect-description">Women's blouse Gorgany</h3>
          <p class="collect-price">3350 UAH</p>
        </div>
      </li>
      <li class="collect-item">
        <div class="collect-img-box">
          <picture>
            <source
              srcset="
                ./images/desktop-2-1x-1440/collect_3-desk-2-x1.jpg 1x,
                ./images/desktop-2-2x-1440/collect_3-desk-2-x2.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/desktop-1-1x-1280/collect_3-desk.jpg    1x,
                ./images/desktop-1-2x-1280/collect_3-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/tablet-1x-704/collect_3-tab-1.jpg    1x,
                ./images/tablet-2x-704/collect_3-tab-2-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile-1x-335/collect_3-mob-1.jpg    1x,
                ./images/mobile-2x-335/collect_3-mob-2-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/mobile-1x-335/collect_3-mob-1.jpg"
              alt="Women's blouse Crimea"
            />
          </picture>
        </div>
        <div class="collect-title-box">
          <h3 class="collect-description">Women's blouse Crimea</h3>
          <p class="collect-price">3350 UAH</p>
        </div>
      </li>
      <li class="collect-item">
        <div class="collect-img-box">
          <picture>
            <source
              srcset="
                ./images/desktop-2-1x-1440/collect_4-desk-2-x1.jpg 1x,
                ./images/desktop-2-2x-1440/collect_4-desk-2-x2.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/desktop-1-1x-1280/collect_4-desk.jpg    1x,
                ./images/desktop-1-2x-1280/collect_4-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/tablet-1x-704/collect_4-tab-1.jpg    1x,
                ./images/tablet-2x-704/collect_4-tab-2-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile-1x-335/collect_4-mob-1.jpg    1x,
                ./images/mobile-2x-335/collect_4-mob-2-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/mobile-1x-335/collect_4-mob-1.jpg "
              alt="Men's shirt Verkhovina"
              width="280"
            />
          </picture>
        </div>
        <div class="collect-title-box">
          <h3 class="collect-description">Men's shirt Verkhovina</h3>
          <p class="collect-price">3100 UAH</p>
        </div>
      </li>
      <li class="collect-item">
        <div class="collect-img-box">
          <picture>
            <source
              srcset="
                ./images/desktop-2-1x-1440/collect_5-desk-2-x1.jpg 1x,
                ./images/desktop-2-2x-1440/collect_5-desk-2-x2.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/desktop-1-1x-1280/collect_5-desk.jpg    1x,
                ./images/desktop-1-2x-1280/collect_5-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/tablet-1x-704/collect_5-tab-1.jpg    1x,
                ./images/tablet-2x-704/collect_5-tab-2-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile-1x-335/collect_5-mob-1.jpg    1x,
                ./images/mobile-2x-335/collect_5-mob-2-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/mobile-1x-335/collect_5-mob-1.jpg"
              alt="Mountain men's shirt"
              width="280"
            />
          </picture>
        </div>
        <div class="collect-title-box">
          <h3 class="collect-description">Mountain men's shirt</h3>
          <p class="collect-price">3300 UAH</p>
        </div>
      </li>
      <li class="collect-item">
        <div class="collect-img-box">
          <picture>
            <source
              srcset="
                ./images/desktop-2-1x-1440/collect_6-desk-2-x1.jpg 1x,
                ./images/desktop-2-2x-1440/collect_6-desk-2-x2.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/desktop-1-1x-1280/collect_6-desk.jpg    1x,
                ./images/desktop-1-2x-1280/collect_6-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/tablet-1x-704/collect_6-tab-1.jpg    1x,
                ./images/tablet-2x-704/collect_6-tab-2-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile-1x-335/collect_6-mob-1.jpg    1x,
                ./images/mobile-2x-335/collect_6-mob-2-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/mobile-1x-335/collect_6-mob-1.jpg"
              alt="Men's shirt Yasen"
              width="280"
            />
          </picture>
        </div>
        <div class="collect-title-box">
          <h3 class="collect-description">Men's shirt Yasen</h3>
          <p class="collect-price">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="collect-bg"></div>
</section>
