<div class="container">
  <section class="testimonials-section">
    <div class="testimonials">
      <h2 class="testimonials-title">Testimonials</h2>

      <ul type="none" class="testimonials-list">
        <li class="testimonials-item">
          <div class="testimonials-card">
            <img
              src="./images/people-1x-2x/maria-tkachuk-x1.png"
              srcset="./images/people-1x-2x/maria-tkachuk-x2.png"
              alt="Maria Tkachuk"
              class="testimonials-img"
            />
            <h3 class="testimonial-name">Maria Tkachuk</h3>
            <p class="testimonal-text">
              I was pleasantly surprised by the variety of embroidery offered by
              Vyshyvanka Vibes. They have models for every taste - from classic
              to modern. I bought an embroidered dress to celebrate a special
              occasion and received impeccable service and refinement in every
              detail.
            </p>
          </div>
        </li>
        <li class="testimonials-item tablet">
          <div class="testimonials-card">
            <img
              src="./images/people-1x-2x/sergey-rybachok-x1.png"
              srcset="./images/people-1x-2x/sergey-rybachok-x2.png"
              alt="Sergey Rybachok"
              class="testimonials-img"
            />
            <h3 class="testimonial-name">Sergey Rybachok</h3>
            <p class="testimonal-text">
              Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
              simply masterpieces! I fell in love with the quality of the
              materials and the skill of the artisans behind each product. This
              is my favorite embroidery shop where I always find something
              special and unique.
            </p>
          </div>
        </li>
        <li class="testimonials-item desktop">
          <div class="testimonials-card">
            <img
              src="./images/people-1x-2x/natalia-chatuk-x1.png"
              srcset="./images/people-1x-2x/natalia-chatuk-x2.png"
              alt="Natalia Chatuk"
              class="testimonials-img"
            />
            <h3 class="testimonial-name">Natalia Chatuk</h3>
            <p class="testimonal-text">
              Vyshyvanka Vibes is a real find for everyone who appreciates
              Ukrainian culture. Their embroidery reflects the spirit and
              traditions of our people. I not only buy embroidered shirts for
              myself, but also give them to my friends abroad as a symbol of our
              beauty and national pride.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
