<section class="container">
  <section class="order box">
    <div class="right">
    <div class="title">
  <h1 class="your_order_test"><span class="yellow">Your order</span> is our priority: Personalized approach and quality of service</h1>
</div>
  <div class="column">
  <input  class="text" type="text" pattern="[0-15]{16}" required placeholder="Enter your full name">
  <input  class="text" type="text" pattern="[0-20]{21}" required placeholder="Enter your email">
  </div>
  <textarea class="comments" required placeholder="Comments"></textarea>
  <button class="button" type="submit">Send<svg class="icon" width="24" height="16"><use href="../images/svg-images.svg#icon-arrow"></use></svg></button>
</div> 
<div class="left">
  <img class="img " src="../images/tablet-1x-704/your_order-1-tab-1.jpg" alt="foto">
</div>

</section>
</section>
