
.about {
    background-image: url(../images/icon-grey.png);
    background-repeat: no-repeat;
    background-size: 459px 408px;
    background-position: right -209px top 691px;
    padding-top: 80px;
    padding-bottom: 62px;
}

.about-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.about-title {
font-size: 32px;
font-weight: 500;
line-height: 1.38;
letter-spacing: -0.03em;
margin-bottom: 40px;
}

.about-text {
    color: rgba(252, 249, 249, 0.40);
font-size: 14px;
font-weight: 400;
line-height: normal;
letter-spacing: -0.04em;
margin-bottom: 20px;
}

@media screen and (min-width: 768px) {

    .about {
        padding-top: 100px; 
        padding-bottom: 82px;
        background-size: 544px 484px;
        background-position: right -175px top 573px;
    }
    .about-box {
        gap: 40px;
    }
    
    .about-title {
    font-size: 44px;
    line-height: 1.45;
    }
    
    .about-text {
    font-size: 16px;
    margin-bottom: 20px;
    }
  }
  
  @media screen and (min-width: 1280px) {

    .about {
        padding-top: 150px;
        padding-bottom: 132px;
        background-size: 545px 484px;
        background-position: right -160px top 291px;
    }

    .about-box {
        flex-direction: row;
        gap: 50px;
    }

    .about-description {
        width: 436px;
    }
    
  }
  
  @media (min-width: 1440px) {}