
.about {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 50px;
    background-image: url(../images/favicon-grey.svg);
    background-repeat: no-repeat;
    background-size: 459px 408px;
    background-position: 125px 611px;
    padding-bottom: 80px;
}

.about-title {
font-size: 32px;
font-weight: 500;
line-height: 1.38;
letter-spacing: -0.03em;
margin-bottom: 40px;
}

.about-text {
    color: rgba(252, 249, 249, 0.40);
font-size: 14px;
font-weight: 400;
line-height: normal;
letter-spacing: -0.04em;
margin-bottom: 20px;
}

@media screen and (min-width: 768px) {

    .about {
        gap: 40px;
        background-size: 544px 484px;
        background-position: 399px 473px;
        padding-bottom: 100px;
    }
    
    .about-title {
    font-size: 44px;
    line-height: 1.45;
    }
    
    .about-text {
    font-size: 16px;
    margin-bottom: 20px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        background-size: 545px 484px;
        background-position: 895px 141px;
        padding-bottom: 150px;
    }
    
  }
  
  @media (min-width: 1440px) {}