.foot {
    padding-top: 40px;
    padding-bottom: 292px;
    background-image: url(../images/icon-yellow.png);
    background-repeat: no-repeat;
    background-position: center bottom -167px;
    background-size: 417px 359px;
}

.foot-list-box {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.nav-list-foot {
    display: flex;
    gap: 40px;
}

.nav-link-foot {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.foot-title {
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.23;
    letter-spacing: -0.03em;
    text-align: left;
    margin-top: 40px;
}

.foot-title-accent-color {
    color: #ECD979;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .container {
        min-width: 320px;
        width: 100%;
    }
}

/* ================ 768px ================== */
@media screen and (min-width: 768px) and (max-width: 1280px) {
    .container {
        min-width: 768px;
        padding: 0 32px;
        margin: 0 auto;
    }

    .foot {
        background-image: url(../images/icon-yellow.png);
        background-repeat: no-repeat;
        background-position: right -273px bottom -16px;
        background-size: 446px 402px;
        padding-bottom: 40px;
    }


    .nav-list-foot {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }

    .foot-list-box {
        flex-direction: row;
    }

    .foot-title {
        width: 521px;
        font-size: 54px;
        font-weight: 400;
        line-height: 64px;
        letter-spacing: -1.62px;
        margin-top: 80px;
    }
}

/* ================ 1280px ================== */
@media screen and (min-width: 1280px) {
    .container {
        min-width: 1280px;
        padding: 0 99px;
        margin: 0 auto;
    }

    .foot {
        background-image: url(../images/icon-yellow.png);
        background-repeat: no-repeat;
        background-position: right -206px bottom -21px;
        background-size: 476px 409px;
        padding-bottom: 40px;
    }

    .foot-title {
        width: 640px;
        font-size: 54px;
        font-weight: 400;
        line-height: 64px;
        letter-spacing: -1.62px;
        margin-top: 117px;
    }

    
    .foot-title-accent-color {
        white-space: pre-wrap;
    }

    .nav-list-foot {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }

    .foot-list-box {
        flex-direction: row;
    }
}

/* ================ 1440px ================== */
@media screen and (min-width: 1440px) {
    .foot {
        background-image: url(../images/icon-yellow.png);
        background-repeat: no-repeat;
        background-position: right -98px bottom -104px;
        background-size: 608px 511px;
        padding-bottom: 40px;
    }

    .foot-title-accent-color {
        white-space: pre-wrap;
    }

    .foot-title {
        width: 640px;
    }

    .nav-list-foot {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }

    .foot-list-box {
        flex-direction: row;
    }
}